
@{
    Layout = null;
}

<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

<div class="container">
    <br />
    <h3>Plan Type: @ViewBag.v1</h3>
    <h3>Count Person: @ViewBag.v2</h3>
    <h3>Price: @ViewBag.v3</h3>
    <h3>Content: @ViewBag.v4</h3>
    <h3>Resolution: @ViewBag.v5</h3>
    <a href="/Default/BasicIndex" class="btn btn-warning">Basic Plan</a>
    <a href="/Default/UltraIndex" class="btn btn-warning">Ultra Plan</a>
</div>